{% extends 'base.html.twig' %}

{% block title %}{{ image.copyright }}{% endblock %}

{% block content %}
    <div id="photos" class="galleryview">
        <div class='panel'>
            <div class='imgContainer'><img
                        src='{{ image_uri }}'
                        alt='{{ image.copyright }}'
                        title='{{ image.copyright }}'
                        width='100%'/>
            </div>
            <div class='panel-overlay'><p>{{ image.copyright }}</p></div>
            <div class='comments'><p></p></div>
        </div>
        <ul class='filmstrip'></ul>
    </div>
    <div align="center" style="position:relative;top:10px;">
    </div>
{% endblock %}